.main-content {
    flex: 1;
<<<<<<< HEAD
    align-items:flex-start;
=======
>>>>>>> 5f58b95bc604b85d23bcd1cd352f9d1d19d7ccab
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}
