form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
    text-align: left;
  }
  
  input, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    padding: 12px;
    background-color: var(--purple, #330036); /* Используем фиолетовый из :root */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: var(--purple-light, #815dac); /* Светло-фиолетовый */
  }
  
  form input, form select {
    text-align: left;
    outline: none;
  }
  
  form input:focus, form select:focus {
    border-color: var(--purple, #330036);
  }
  
  .player-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  

.reset-password-form {
  max-width: 400px; /* Ограничиваем ширину формы */
  margin: 0 auto; /* Центрируем форму */
  padding: 20px; /* Добавляем отступы внутри формы */
  border: 1px solid #ccc; /* Обводим форму рамкой */
  border-radius: 8px; /* Закругляем углы */
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень к форме */
}

.reset-password-form h2 {
  text-align: center; /* Заголовок по центру */
  margin-bottom: 20px; /* Отступ снизу для заголовка */
}

.success-message, .error-message {
  text-align: center; /* Сообщения по центру */
  color: green; /* Цвет для успешного сообщения */
  margin-bottom: 10px; /* Отступ снизу для сообщений */
}

.error-message {
  color: red; /* Цвет для сообщения об ошибке */
}
